body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
}


h1 {
    margin: 1vw 5vw;
    text-transform: uppercase;
    font-weight:lighter;
    font-size: 3em;
    margin-left: 10vw;
    color: #0b0c0d;
}

.container {
    display: flex;
    flex-direction: row;
    width: 45vw;
    margin-left: 10vw;
}

.form-group {
    display: flex;
    width: 40vw;
   flex-direction: column;
   margin-left: 0.5vw;
   font-size: 1em;
   font-weight: bold;
}

.addbtn {
    margin-left: 0;
    color: aliceblue;
    background-color: #697cf7;
    border: 0px;
    height: 4vh;
    width: 3vw;
    border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}

.assign {
    margin-left: 10vw;
    margin-top: 2vh;
    margin-right: 1vw;
    color: aliceblue;
    background-color:#697cf7;
    border: 0px;
    width: 27vw;
    height: 4vh;
    border-radius: 5px;
}

.reset {
    margin-left: 0;
    color: aliceblue;
    background-color: rgb(141, 48, 62);
    border: 0px;
    height: 4vh;
    border-radius: 5px;
}

.plusminus {
    margin-left: 0;
    color: aliceblue;
    background-color:#697cf7;
    border: 0px;
    height: 4vh;
    width: 2.5vw;
    border-radius: 5px;
}

.field {
    margin-right: -5px;
    height: 3.2vh;
}

.numfield {
    outline: none;
    border: none;
    text-align: center;
    width: 3vw;
    margin: 0;
    font-size: 1em;
}

.waitinglist {
    margin-top: 2vh;
    padding: 0.8em;
    display: block;
    border-radius: 5px;
    box-shadow: inset 1px 13px 48px -20px rgba(185, 185, 185, 0.75);
    width: 30vw;
    margin-left: 10vw;
}

hr {
    color: rgb(210, 210, 210);
}

.doneteamcontainer {
  display: flex;
  width: 47vw;
  margin-left: 45vw;
  margin-top: 0vh;
  align-items: center;
  
}


.doneteam {
    flex-basis: 33.3%;
    margin-top: 2vh;
    padding: 0.8em;
    display: block;
    border-radius: 10px;
    box-shadow: 4px 7px 32px -2px rgba(181,181,181,0.91);
    width: 20vw;
    height: 30vh;
    margin-left: 2vw; 
    
}

.teamnamecontainer {
    display: flex;
  width: 47vw;
  margin-left: 45vw;
  margin-top: -60vh;
  align-items: center;
}

.teamname {
    flex-basis: 33.3%;
    margin-left: 2vw;
    margin-bottom: 1vh;
}

